body {
  height: 100vh;
  width: 100vw;
}

.marbleDispenser {
  height: 75%;
  width: 75%;
}

.red {
  height: 9%;
  width: 50%;
  background-color: red;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;


}

.yellow {
  height: 9%;
  width: 50%;
  background-color: yellow;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;

}

.blue {
  height: 9%;
  width: 50%;
  background-color: blue;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;

}

.row {
  position: relative;
  display: inline-block;
  flex-direction: column;
  background-image: url(../potionExplosion/images/aromatic-red-cedar-sealed.jpg);
  width: 8%;
  height: 100%;
  margin-left: 10px;
  border: 3px solid black;
  transform: rotateX(180deg);
}
