body {
  height: 100vh;
  width: 100vw;
}

.red {
  height: 9%;
  width: 50%;
  background-color: red;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;


}

.yellow {
  height: 9%;
  width: 50%;
  background-color: yellow;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;

}

.blue {
  height: 9%;
  width: 50%;
  background-color: blue;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;

}

.row {
  position: relative;
  display: inline-block;
  flex-direction: column;
  background-image: url(../potionExplosion/images/aromatic-red-cedar-sealed.jpg);
  width: 8%;
  height: 85%;
  margin-left: 10px;
  border: 3px solid black;
}

.player {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 49%;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  vertical-align: text-bottom;

}
.potion-container{
  position: relative;

  width: 50%;
  height: 50%;
  background-color: white;
}
.tile {
  position: relative;
  width: 100%;
  height: 32%;
}
.red-tile{

  background-color: red;
}

.blue-tile{
  background-color: blue;
}

.yellow-tile{
  background-color: yellow;
}
